@import 'tailwindcss';
@tailwind utilities;

@theme {
  --color-dark-teal: #05141e;
  --color-teal: #123247;
  --color-lightest-teal: #377e88;
  --color-navy-shadow: rgba(6, 22, 47, 0.7);
  --color-dark-slate: #57647e;
  --color-slate: #b1c6d2;
  --color-light-slate: #a8bbd1;
  --color-lightest-slate: #ccd6f6;
  --color-white: #edf4fd;
  --color-green: #6afff2;
  --color-green-tint: rgba(27, 122, 131, 0.1);
  --color-dark-green-tint: rgba(21, 105, 92, 0.1);

  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
  @apply text-slate bg-dark-teal font-mono m-auto min-h-dvh;
  @apply box-border w-full scroll-smooth min-h-full;
}

main {
    @apply m-auto w-full pt-10 pb-10 pr-10 pl-10;
}

a {
  @apply hover:text-green no-underline;
}

button {
  @apply cursor-pointer;
  @apply px-6 py-4 text-sm mx-5;
  @apply border rounded text-lightest-teal bg-transparent leading-none no-underline transform duration-300;
  @apply hover:outline-none hover:shadow-md hover:-translate-x-4 hover:-translate-y-4 hover:transform hover:shadow-teal;
  @apply focus-visible:outline-none focus-visible:shadow-lg focus-visible:-translate-x-4 focus-visible:-translate-y-4 focus-visible:shadow-teal;

  transition: var(--transition);
}
